<nav>
    <ul class='hNavList'>
        <li><a href='./../tolearn'>Tolearn</a></li>
        <li><a href='./../learnlist'>Learnlist</a></li>
        <li>Task</li>
        <li>Reading</li>
    </ul>
</nav>